<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Scaleing-Numerical-Vars" data-toc-modified-id="Scaleing-Numerical-Vars-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Scaleing Numerical Vars</a></span></li></ul></li><li><span><a href="#Import-grid-serach-cv" data-toc-modified-id="Import-grid-serach-cv-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import grid serach cv</a></span></li></ul></div>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('new_used_car_v1.csv')
df.head()

,index,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,age,KM_Driven,make,mileage_new,engine_new,power_new
0,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,8,46,honda,18.20,1199.0,88.70
1,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,7,87,maruti,20.77,1248.0,88.76
2,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50,6,86,nissan,23.08,1461.0,63.10
3,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95,7,65,tata,22.30,1248.0,74.00
4,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60,4,64,maruti,25.20,1248.0,74.00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3092 entries, 0 to 3091
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              3092 non-null   int64
 1   Name               3092 non-null   object
 2   Location           3092 non-null   object
 3   Year               3092 non-null   int64
 4   Kilometers_Driven  3092 non-null   int64
 5   Fuel_Type          3092 non-null   object
 6   Transmission       3092 non-null   object
 7   Owner_Type         3092 non-null   object
 8   Mileage            3092 non-null   object
 9   Engine             3092 non-null   object
 10  Power              3092 non-null   object
 11  Seats              3091 non-null   float64
 12  New_Price          411 non-null    object
 13  Price              3092 non-null   float64
 14  age                3092 non-null   int64
 15  KM_Driven          3092 non-null   int64
 16  make               3092 non-null   object
 17  mileage_new        3092 non-null   float64
 18  engine_new         3092 non-null   float64
 19  power_new          3092 non-null   float64
dtypes: float64(5), int64(5), object(10)
memory usage: 483.2+ KB

In [4]:
df.isnull().sum()

index                   0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   1
New_Price            2681
Price                   0
age                     0
KM_Driven               0
make                    0
mileage_new             0
engine_new              0
power_new               0
dtype: int64

In [5]:
df.columns

Index(['index', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price', 'age', 'KM_Driven', 'make', 'mileage_new',
       'engine_new', 'power_new'],
      dtype='object')

In [16]:
x_features = ['Fuel_Type',
       'Transmission', 'Owner_Type' , 'Seats',
       'New_Price', 'Price', 'age', 'KM_Driven', 'make', 'mileage_new',
       'engine_new', 'power_new']

In [17]:
cat_vars = ['Fuel_Type','Transmission','Owner_Type','make','Location']

In [18]:
num_var = set(x_features)-set(cat_vars)

In [19]:
num_var

{'KM_Driven',
 'New_Price',
 'Price',
 'Seats',
 'age',
 'engine_new',
 'mileage_new',
 'power_new'}

In [11]:
x = df[x_features]
y = df['Price']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=100)

In [14]:
xtrain.shape

(2164, 17)

In [15]:
xtest.shape

(928, 17)

In [ ]:
import

In [26]:
mean_imputer = SimpleImputer(strategy='mean')

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe_encoder = OneHotEncoder(handle_unknown='ignore')

### Scaleing Numerical Vars

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [27]:
imputed_num_transformer = Pipeline(steps=[
    ('imputation',mean_imputer),
    ('scaler', scaler)
])

In [28]:
imputed_num_transformer

Pipeline(steps=[('imputation', SimpleImputer()), ('scaler', StandardScaler())])

In [29]:
non_imputed_num_transformer = Pipeline([
    ('scaler',scaler)
])

In [30]:
cat_transformer = Pipeline(steps = [('ohencoder',ohe_encoder)])

In [ ]:
preprocessor = ColumnTransformer(
transformers=[
    ('num_imputed',imputed_num_transformer, imputed_num_vars),
    ('num_not_imputer',non_imputed_num_transformer, non_imputed_num_vars)
])

In [33]:
preprocessor

NameError: name 'preprocessor' is not defined

In [31]:
from sklearn.neighbors import KNeighborsRegressor

In [32]:
knn = KNeighborsRegressor(n_neighbors=20,weights='distance')

In [ ]:
knn_v1 = Pipeline(steps=[('preprocessor',preprocessor),('knn',knn)])

In [ ]:
knn_v1.fit(xtrain,ytrain)

In [34]:
from sklearn import set_config
set_config(display='diagram')

In [35]:
from sklearn.model_selection import cross_val_score

In [36]:
score = cross_val_score(knn_v1,xtrain,ytrain,cv=10,scoring='r2')

NameError: name 'knn_v1' is not defined

In [ ]:
score

In [ ]:
score.mean()

In [ ]:
score.std()

## Import grid serach cv

In [37]:
from sklearn.model_selection import GridSearchCV

In [ ]:
knn_params = {
    "knn_n_neighbors":[5,10,15,20,25],
    "knn_weights":['uniform','distance'],
    "knn_"
}